.container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 200px;
  outline: 2px solid tomato;
  margin-right: auto;
  margin-left: auto;
}

.title {
  width: fit-content;
  margin: 0 auto;
}
.text {
  /* display: inline-block; */
  margin: 20px auto;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.list .item {
  width: fit-content;
  margin: 0 auto;
  list-style: none;
}

.subscribe__email {
  /* flex-grow: 1; */
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
