.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-dark-gray);

&__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
    }

    // .footer .item:not(:last-child) {
    //     margin-right: 10px;
    // }

&-columns {
    text-align: center;
    @media screen and(min-width:1200px) {
        text-align: start;
        }
}
    
// &-column {
// text-align: center;

//     @media screen and(min-width:1200px) {
//         text-align: start;
//     }
// }

&__logo {
    display: block;
    margin-bottom: 20px;
    }

&-column:not(:last-child) {
    // width: calc((100% - 60px)/2);
    // margin-right: 70px;
    margin-bottom: 60px;
    }

@media screen and (min-width:768px){
    &-columns {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
        align-items: baseline;
        }

    &-column:not(:last-child) {
        width: calc((100% - 60px)/2);
        // margin-right: 70px;
        margin-bottom: 0px;
    }

    &-column:last-child {
        // margin-left: auto;
        width: 450px;
        }
}
            
@media screen and (min-width:1200px) {
    &-columns {
        flex-wrap: nowrap;
        display: flex;
        gap: 60px;
        justify-content: start;
    }

    &-column:not(:last-child) {
        // width: calc((100% - 90px)/3);
        width: fit-content;
        // margin-right: 70px;
        margin-bottom: 0px;
    }

    &-column:last-child {
        margin-left: auto;
        width: fit-content;
    }


&__logo {
    display: block;
    width: fit-content;
    margin:0 auto 20px 0;
    }

&__title {
    margin: 0 auto 20px 0;
}
&__social-list{
    justify-content: start;
    }
}
}







/* Address____________________________________ */
.address {
    font-style: inherit;
}

.address-list {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

&__item {
    margin-bottom: 5px;
    }

&__link {
    color: var(--text-gray-alfa);
    transition: color var(--time-animatio) var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--accent);
    }
}

&__link--white {
    color: var(--text-white);
}

@media screen and (min-width:1200px) {
&__item {
        width: fit-content;
        margin: 0 auto 5px 0;
    }
}
}



/* Social________________________________________ */




.social-list__icon--white {
    fill: var(--background-white);
}


/* Form__________________________________________ */

.subscribe__email {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
    // margin-right: 12px;

    color: var(--text-white);
    background-color: transparent;
    border: 2px solid var(--white-transperent);
    border-radius: 4px;

    &::placeholder {
        // flex-grow: 1;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }


}



.subscribe__icon {
    margin-left: 10px;
}

@media screen and (min-width:1200px) {
.subscribe {
        display: flex;
        align-items: baseline;
        justify-content: end;
        
    }

.subscribe__email {
    width: 358px;
    margin-right: 12px;
}
.subscribe__button {
    margin: 0;
}
}