.portfolio-list {
&__item {
    --card-gap: 30px;
    
    background-color: var(--background-white);

    @media screen and (min-width: 768px) {
        --card-item-count: 2;
        }

    @media screen and (min-width: 1200px) {
        --card-item-count: 3;
        }
        }



&__link {
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
        1px 4px 6px rgba(0, 0, 0, 0);
    height: 100%;
    transition: box-shadow var(--time-animatio) var(--cubic-bezier);

    &:hover,
    &:focus {
        box-shadow: var(--card-shadow);
    }
}

&__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-dark-gray);
    margin-bottom: 4px;
}

&__description {
    font-size: 18px;
    line-height: 1.875;
    margin-bottom: 0px;
    margin-top: 0px;
}

.product-type {
        font-size: 16px;
        line-height: 1.18;
}

&__card-text {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    flex-grow: 1;
}

&__thumb {
    position: relative;
    overflow: hidden;
}

&__overlay {
    /* geometry */
    width: 100%;
    height: 100%;
    background-color: var(--accent-transparent);
    opacity: 0;
    /* position */
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;

    /* animation */
    transition: transform var(--time-animatio) var(--cubic-bezier),opacity var(--time-animatio) var(--cubic-bezier);
    transform: translateY(100%);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
        transform: translateY(0%);
        opacity: 1;

    }
    @media screen and(min-width:480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        }
}

&__description {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-white);
    padding: 24px 24px;


    @media screen and(min-width:480px) {
            padding: 77px 24px;
        }

    @media screen and(min-width:768px) {
        padding: 49px 24px;
    }
    @media screen and(min-width:1200px) {
        padding: 63px 24px;
    }
}
}


