.specifics {
    padding-bottom: 0px;
}

.specifics-list__item {
    // flex-basis: calc(100% / 4 - var(--card-gap));
}

.specifics-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--background-light-gray);
    }

.specifics-list__svg {
    width: 70px;
    height: 70px;
}

.specifics-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}