
.specifics-list__item {
    // flex-basis: calc(100% / 4 - var(--card-gap));

    @media screen and (min-width: 768px) {
            --card-item-count: 2;
            flex-basis: calc((100% - (var(--card-gap) * 1)) / var(--card-item-count));
        }
    
    @media screen and (min-width: 1200px) {
        --card-item-count: 4;
        flex-basis: calc((100% - (var(--card-gap) * 3)) / var(--card-item-count));
        }
}

.specifics-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--background-light-gray);
    }

.specifics-list__svg {
    width: 70px;
    height: 70px;
}

.specifics-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
        text-align: center;
    @media screen and (min-width:768px) {
    text-align: start;
    }
}