.team {
    background-color: var(--background-light-gray);

&__item {
    display: block;
    background-color: var(--background-white);
    box-shadow: var(--shadow);
    border-radius: 0px 0px 4px 4px;
    // width: calc(100% / 4 - var(--card-gap));
}

&__image {
    margin-left: auto;
    margin-right: auto;
}
}




// card-text_____________________________________
.card-text {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

&__title {
    margin-bottom: 10px;
    }

&__description {
    margin-bottom: 16px;
}
}

.card-text__title,
.card-text__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
}
