.button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    cursor: pointer;
    color: var(--text-white);
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--time-animatio) var(--cubic-bezier);

    &:hover,
    &:focus {
        background-color: var(--accent-hover);
    }

}

